<!DOCTYPE html>
<html>
<script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.3/socket.io.min.js"></script>


<head>
  <meta charset="utf-8">
  <title>
    By CheezlWeasel and nKay

  <div class="login">
    <button class="login-btn">
      <span class="loginword">
        Login
      </span>
    </button>
    <ul class="login-btn-menu">
      
    </ul>
  </div>

  </title>
  <meta name="viewport" content="width=device-width">
  <title>replit</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body class="parralax">
  <h1>By CheezlWeasel and nKay</h1>
  <p class="titlearea">
  <div class="title">
    The Kitchen counter
  </div>
  <div class="slogan">
    cook up a storm
  </div>
  </p>
  <div>
    <p class="createbutton">
      <a class="buttonarea" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
        Create +
      </a>
    </p>

    <p class="lobbyarea">
      <form class="textboxes">
        <input type="text" placeholder="Search">
        <label for="sorting"> Sort by: </label>
        <select name="sorting" id="sorting">
          <option value="Alphabetical">Alphabetical</option>
          <option value="date made">Date made</option>
        </select>
      </form>
      <p id="actuallobbyarea" class="actuallobbyarea"> 
      </p>
    </p>
  </div>
<script src="script.js"></script>
</body>

</html>